{% extends "base-nav.html" %}
{% block mainArea %}

<div class="row">

    <div class="col-sm-6 mb-2">
        <h4 class="text-left mt-2 ml-3 hidden-xs float-left"> Welcome, {% block name %} {{ userdata.username }}{% endblock %}</h4>
    </div>

</div>


<p class="text-center h4 align-self-center mt-2">{{ tname }} - Fill Results</p>
<form method="POST" action="">
    <table class="table col-8 mx-auto table-hover">

        <thead class="text-left">
        <tr>
            <th scope="col" class="text-center">Fight</th>
            <th scope="col" class="text-center">How</th>
            <th scope="col" class="text-center">When ?</th>
        </tr>
        </thead>

        <tbody>

        {% for f1 in fighterList %}
        <tr>

            <td class="text-center {{f1.id}} align-middle">
                <div class="btn-group btn-group-toggle"  data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-primary">
                        <input type="radio" name="fight" required> {{f1.opp1}}
                    </label>
                    <label class="btn btn-sm btn-outline-primary ">
                        <input type="radio"  name="fight" > {{f1.opp2}}
                    </label>
                </div>
            </td>

            <td class="text-center {{f1.id}} align-middle">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-danger ">
                        <input type="radio" value="1" name="how"  required> KO
                    </label>
                    <label class="btn btn-sm btn-outline-warning">
                        <input type="radio" value="2" name="how" > SUB
                    </label>
                    <label class="btn btn-sm btn-outline-info">
                        <input type="radio" value="3" class="dec" name="how"> DEC
                    </label>
                </div>
            </td>

            <td class="text-center {{f1.id}} align-middle">
                <select class="form-select" name="dropdown" aria-label="Default select example">
                    <option selected class="{{f1.id}}">RD</option>
                    {% for i in range(1,f1.rd|int +1) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </td>

            {% endfor %}
        </tr>

        <tr class="text-center">
            <td></td>
            <td></td>
            <td><button type="button" id="submit" class="btn btn-primary">Submit</button></td>
        </tr>

        </tbody>
    </table>
</form>

<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fillin-modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"  id="fillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title alert-warning" id="fillModalLabel">Updated Points</h5>
                <button type="button" class="close closeBTN" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fillin-modal-body">
                Fight(s) results have been updated.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeBTN" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}

<script type="text/javascript">

 $(document).ready(function(){

 var t_id = {{t_id}}
 var user_id = {{userdata.id}}
 var amount_of_fights_shown = {{fighterList|length}}
 var submissions = []
 var closeBTN = $(".closeBTN")
 var fillModal = $("#fillModal")
 var url = ""

if(window.location.port){

                 var url = window.location.protocol + "//" + window.location.hostname + ":"+ window.location.port + "/profile/";

                }else{

                 var url = window.location.protocol + "//" + window.location.hostname + "/profile/"
 }

 closeBTN.click(function(){

<!--     console.log(window.location.href)-->
<!--     console.log(window.location.hostname)-->
<!--     console.log(window.location.pathname)-->
<!--     console.log(window.location.protocol)-->


        window.location.href= url

 })
 fillModal.focusout(function(){


        window.location.href= url

 })


  $( "[name^=fight]" ).change(function(){

        var onefight =   { 'id':"", 'winner':"", 'how':"", 'when':"", 'tour_id':t_id, 'userid': user_id}

        fightrow_ID = this.parentElement.parentElement.parentElement.classList[1];

        objIndex = find_obj_byid(fightrow_ID)

        if(objIndex == -1){
            onefight.id = fightrow_ID;
            onefight.winner = this.parentElement.innerText;
            submissions.push(onefight);
        }else if(fightrow_ID == submissions[objIndex].id)  {
           submissions[objIndex].winner = this.parentElement.innerText
        }

    });

    $( "[name^=how]" ).change(function(){

        if(this.value == 3){
            $(this.parentElement.offsetParent.parentElement).siblings()[1].childNodes[1].setAttribute("disabled",true)
            $(this.parentElement.offsetParent.parentElement).siblings()[1].childNodes[1].selectedIndex = 0;
        }else{
            $(this.parentElement.offsetParent.parentElement).siblings()[1].childNodes[1].removeAttribute("disabled")
        }

        var onefight =   { 'id':"", 'winner':"", 'how':"", 'when':"",'tour_id':t_id, 'userid': user_id}

        fightrow_ID = this.parentElement.parentElement.parentElement.classList[1];

        objIndex = find_obj_byid(fightrow_ID)

        if(objIndex == -1){
            onefight.id = fightrow_ID;
            onefight.how = this.parentElement.innerText;
            submissions.push(onefight);
        }else{
           submissions[objIndex].how = this.parentElement.innerText
        }
    });

    $( "[name=dropdown]" ).change(function(){

        var onefight =   { 'id':"", 'winner':"", 'how':"", 'when':"", 'tour_id':t_id, 'userid': user_id}

        fightrow_ID = this.parentElement.classList[1];

        objIndex = find_obj_byid(fightrow_ID)

        if(objIndex == -1){
            onefight.id = fightrow_ID;
            onefight.when = this.value;
            submissions.push(onefight);
        }else{
           submissions[objIndex].when = this.value
        }
    });

    $("#submit").on("click",function(){
        var counter = 0;
        var problemMessages = new Set();
        <!--Check all submissions are valid-->
        var subLength = submissions.length;
        if(subLength){
                    submissions.forEach(function(row){
                        counter++
                        for (const [key, value] of Object.entries(row)){
                              if(value !== ""){


                              }else if(key == "when"){

                                    if(row['how'] == 'DEC'){


                                    }else{

                                        problemMessages.add("<li>Please choose all applicable choices. Problem(s) at fight: "+ counter+" </li>");
                                  }

                              }else{

                                        problemMessages.add("<li>Please choose all applicable choices. Problem(s) at fight: "+counter+" </li>");
                              }
                          }
                     });
            }else{
                    problemMessages.add("<li>Please fill out draft</li>");
            }

            var emptyFights = amount_of_fights_shown - subLength;
<!--        if(emptyFights !== 0){ problemMessages.add("<li>Please fill out " + emptyFights + " empty fights.</li>");  }-->

             if(window.location.port){

                 var url = window.location.protocol + "//" + window.location.hostname + ":"+ window.location.port + "/filltournament/";

                }else{

                 var url = window.location.protocol + "//" + window.location.hostname + "/filltournament/"
             }
            if(problemMessages.size !== 0){

                $(".fillin-modal-body").html('')
                $("#exampleModal").modal('show')
                $(".fillin-modal-body").append("<ul id='problemList'></ul>")
                for (let item of problemMessages){
                    $(item).appendTo("#problemList")
                }
            }else{

                    var sent = $.ajax({
                      type: 'POST',
                      contentType:"application/json; charset=utf-8",
                      url: url,
                      data: JSON.stringify(submissions),
                      processdata: false,
                      dataType: 'json',
                       success:function(response){
                        fillModal.modal("show");
                        }
                    });

            }

    })

    function find_obj_byid(id){

        objIndex = submissions.findIndex((obj => obj.id == id));

        return objIndex
    }
 });
</script>


{% endblock %}                                       